private/*
REGIONE_LOMBARDIA/*
cache/*
.vscode/*

.Rhistory

python_scripts/__pycache__
python_scripts/wind_stuff/__pycache__
python_scripts/wind_stuff/Aggregated_wind_data.csv
python_scripts/wind_stuff/Converted_AGC_Wind_Data.csv
python_scripts/REGIONE_LOMBARDIA/*

