private/*
REGIONE_LOMBARDIA/*
cache/*
.vscode/*

.Rhistory

python/__pycache__
python/wind_stuff/__pycache__
python/wind_stuff/Aggregated_wind_data.csv
python/wind_stuff/Converted_AGC_Wind_Data.csv
python/REGIONE_LOMBARDIA/*

